*.pkl
*.pickle
*.pyc
lsf.*
*.json
.vscode/*
.vscode*
.vscode
*.h5
*.txt
*.pt
*.sdf
*.html
*json
*.pdb
*.DS_Store
*.cdxml
*.xlsx
*.out
*.txtx
*.csv
*.xyz
*.pdf
*.jpg
.nfs*
*__pycache__
__pycache__*
__pycache__/*
