*.pkl
*.pickle
*.pyc
lsf.*
*.json
.vscode/*
.vscode*
.vscode
*.h5
*.txt
*.pt
*.sdf
*.html
*json
*.pdb
*.DS_Store
*.cdxml
*.out
*.txtx
*.png
*.jpg
*.csv
*.ini
*.xyz
*.pdf
.nfs*
__pycache__*
__pycache__/*
