*.pkl
*.pickle
*.pyc
lsf.*
*.json
.vscode/*
.vscode*
.vscode
*.png
*.h5
*.txt
*.pt
*.sdf
*.html
*json
*.pdb
*.sdf
*.DS_Store
*.cdxml
*.xlsx
*.out
*.csv
*.ini
*.txtx
*.xyz
*.pdf
*.jpg
.nfs*
